body
{
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  background-color:#262732;
  color:#E5E5E5;
}

#header-container
{
  background-color: #1687b2;
  color:white;
}
#header-container a
{
  color:white;
}
#header-container #brand
{
  font-size:1.5em;
}
.navbar{
  border-bottom:1px solid #3a3d44;
}
