<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">
    <!-- css app -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div id="app" class="container">
        <hello-word></hello-word>

        <welcome-mesagge v-bind:name='name' v-bind:gender='gender'></welcome-mesagge>
        <form v-on:submit.prevent="signUp(true)">
            <div v-show="name">
                <p>Espero disfrutes tu visita</p>
                <p>Tu nombre al reves: {{ name.split('').reverse().join('') }}</p>
            </div>
            <br>
            <input type="text" v-model="name" name="nombre" class="form-control">
            <p class="alert alert-danger" v-if="!name">
                Campo obligatorio
            </p>
            <p v-else>Exelente</p>
            <label>
              <input type="radio" name="genero" v-model="gender" value="m"> Male
            </label>
            <br>
            <label for="">
              <input type="radio" name="gener0" v-model="gender" value="f"> Female
            </label>
            <br>
                <years-exp v-bind:years.sync='years_php' v-bind:tech='PHP'></years-exp>
                <years-exp v-bind:years.sync='years_js' v-bind:tech='JS'></years-exp>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-primary" v-on:click.prevent="signUp(false)">enviar y Salir del sistema</button>
            </p>
        </form>
        <br>
        <pre>{{ $data }}</pre>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/vue.js" charset="utf-8"></script>

    <script type="text/template" id="welcome_template">
      <h1>{{gender == 'm'? 'Bienvenido' : 'Bienvenida' }}, {{name}}</h1>
    </script>
    <script type="text/template" id="years_template">
      <p>Años de experiencia  {{tech}} {{years}} |
          <button :class="{btn:true, 'btn-danger':exp > 10}" v-on:click.prevent="chk(1) ">+</button>
          <button class="btn btn-default" v-bind:disabled="exp==0" v-on:click.prevent="chk(-1)">-</button></p>
      <p>
    </script>
    <script>
        Vue.component('hello-word',{
          template:'<h1>Hello, world!</h1>',
        });
        Vue.component('welcome-mesagge',{
          template:'#welcome_template',
          props:{
            gender:{type:String, required:false,default:'m'},
            name:{type:String, required:true}
          }
        });
        Vue.component('years-exp',{
          template:'#years_template',
          methods:{
            chk: function(val) {
                console.log(val);
                this.years = this.years + val;
                if (this.years < 0) {
                    this.years = 0;
                    return;
                }
                console.log(this.years);
            }
          },
          props:['years','tech']
        });
        new Vue({
            el: "#app",
            data: {
                name: "",
                gender: 'm',
                years_php: 0,
                years_js:0,
            },
            methods: {
                signUp: function(r) {
                    console.log('Entra a singUp');
                    if (r) {
                        alert('Welcome');
                    } else {
                        alert('Bye');
                    }
                },

            }
        });
    </script>
</body>

</html>
