<!-- Header -->
<header id="header-container">
    <nav id="menu-principal" class="navbar navbar-light bg-faded ">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3">
                    <h1 class="navbar-brand"><img src="./assets/img/logo.png" class="img-responsive" alt="TurboAdmin"></h1>
                </div>
                <div class="col-6 push-xs-7 col-sm-6 col-md-2 push-md-7">
                    <ul class="nav float-right">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="hidden-lg-up pe-7s-user pe-2x"></i>
                                <span class="hidden-md-down">
                                  {{usuario.userName}}
                                  <small>{{usuario.perfil}}</small>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" ui-sref="/perfil/">Perfil</a>
                                <a class="dropdown-item" ng-if="usuario.IDPerfil==0" ui-sref="/usuarios/">Usuarios</a>
                                <a class="dropdown-item" ui-sref="/salir/">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ./cols -->
                <div class="col-sm-12 col-md-7 pull-md-2">
                    <ul class=" nav">
                      <li ng-repeat="menu in usuario.menu"  ui-sref-active="active" class="nav-item">
      		                <a class="nav-link" ui-sref="{{menu.state}}" >{{menu.opcion}}</a>
      		            </li>

                    </ul>
                </div>
                <!-- ./cols -->
            </div>
            <!-- ./row -->
        </div>
        <!-- ./container -->
    </nav>
    <nav id="menu-secundario" class="navbar navbar-inverse bg-primary">
        <div class="container">
            <ul class=" nav">
              <li ng-repeat="menu in submenu[usuario.menu.opcion]"  ui-sref-active="active" class="nav-item">
                  <a class="nav-link" ui-sref="{{menu.state}}" >{{menu.opcion}}</a>
              </li>
            </ul>
        </div>
        <!-- ./container -->
    </nav>
</header>
<div class="container">
    <div ui-view></div>
</div>
<!-- ./container -->
<footer class="footer">
    <div class="container">
        <div class="row top-buffer">
            <div class="col-md-12">
                <p class="text-muted text-center">
                    Todos los derechos reservados
                </p>
            </div>
        </div>
    </div>
</footer>
